<%= render "dashboard/traffic/controls" %>
<div class="row">
  <%= render "dashboard/traffic/share" %>
  <%= render "dashboard/traffic/volume" %>
</div>
<div class="row">
  <%= render "dashboard/traffic/tabular" %>
</div>
