<div class="d-flex justify-content-between align-items-center pb-2 pt-4 pb-md-4">
  <div>
    <a href="/messages/new" class="btn btn-secondary text-dark mb-3 mb-md-0"><span class="fas fa-plus me-2"></span><span>Compose</span></a>
  </div>
  <div class="d-block d-sm-flex">
    <div class="btn-group mb-3 me-3 mb-md-0 d-none d-md-inline-flex">
      <button type="button" class="btn btn-dark"><span class="fas fa-archive"></span></button>
      <button type="button" class="btn btn-dark"><span class="fas fa-exclamation-circle"></span></button>
      <button type="button" class="btn btn-dark"><span  class="fas fa-trash-alt"></span></button>
    </div>
    <div class="mb-3 mb-md-0">
      <button type="button" class="btn btn-dark dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
        More
        <span class="icon icon-small ms-1"><span class="fas fa-chevron-down"></span></span>
      </button>
      <div class="dropdown-menu pb-0">
        <span class="ps-3 fw-bold text-dark">More Options :</span>
        <a class="dropdown-item" href="#">Mark as Unread</a>
        <a class="dropdown-item" href="#">Add to Tasks</a>
        <a class="dropdown-item" href="#">Add Star</a>
        <a class="dropdown-item rounded-bottom" href="#">Mute</a>
      </div>
    </div>
  </div>
</div>