<div class="card bg-white shadow-sm p-4 mb-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <span class="font-small">
      <a href="#">
        <img class="avatar-sm img-fluid rounded-circle me-2" src="<%= asset_pack_path "media/images/team/casey.jpg" %>" alt="avatar">
        <span class="fw-bold">Casey</span>
      </a>
      <span class="ms-2">March 26, 19:25</span>
    </span>
    <div class="d-none d-sm-block">
      <span class="fas fa-mobile-alt" aria-label="phone" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sent from the phone" data-controller="tooltip"></span>
    </div>
  </div>
  <p class="m-0">
    Hi <%= current_user.name %>! <%= Faker::Books::Dune.quote %>
  </p>
</div>