        <a href="#" class="d-flex align-items-center">
          <img src="<%= asset_pack_path "media/images/team/#{user}.jpg" %>" class="user-avatar rounded-circle me-3" alt="<%= user.titleize %>">
          <span class="h6 fw-normal mb-0"><%= user.titleize %></span>
        </a>