<%= render "components/beacons/controls" %>
<div class="row">
  <div class="col-12 mb-4">
    <div style="height: 2000px;"></div>
    <div data-controller="tripwire" data-tripwire-reflex-value="Beacon#tripwire" data-tripwire-charges-value="1"></div>
  </div>
</div>