<%= render "controls" %>
<div class="task-wrapper border bg-white shadow-sm rounded">
  <% 6.times do |index| %> <%= render partial: "task", locals: {index: index} %> <% end %>
  <div class="row p-4">
    <div class="col-7 mt-1">Showing 1 - 20 of 289</div>
    <div class="col-5">
      <div class="btn-group float-end">
        <a href="#" class="btn btn-gray-200 disabled"><span class="fas fa-chevron-left"></span></a>
        <a href="#" class="btn btn-secondary"><span class="fas fa-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>
