<div class="py-4">
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a> <span class="chevron fas fa-chevron-right"></span></li>
      <li class="breadcrumb-item">Components <span class="chevron fas fa-chevron-right"></span></li>
      <li class="breadcrumb-item active" aria-current="page">Buttons</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Buttons</h1>
      <p class="mb-0">Choose wisely.</p>
    </div>
    <div>
      <a href="https://www.youtube.com/watch?v=IC7l3V1nhWc" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> How many?</a>
    </div>
  </div>
</div>