<div class="container-fluid px-3">
  <div class="row mt-4 mb-3">
    <div class="col-6 d-flex justify-content-between ps-0">
      <div class="me-lg-3">
        <a href="#" class="btn btn-secondary text-dark"
          ><span class="fas fa-plus me-2"></span><span>New Tasks</span></a
        >
      </div>
    </div>
    <div class="col-6 px-0 text-right">
      <div class="btn-group">
        <button class="btn btn-dark text-white">
          <span class="fas fa-archive"></span>
        </button>
        <button class="btn btn-dark text-white">
          <span class="fas fa-exclamation-circle"></span>
        </button>
        <button class="btn btn-dark text-white">
          <span class="fas fa-trash-alt"></span>
        </button>
      </div>
    </div>
  </div>
</div>
