<a href="#" class="avatar" data-bs-toggle="tooltip" data-bs-original-title="<%= user.titleize %>" title="">
  <img class="rounded" alt="<%= user.titleize %>" src="<%= asset_pack_path "media/images/team/#{user}.jpg" %>">
</a>