<a href="#" class="avatar" data-bs-toggle="tooltip" title="<%= user.titleize %>" data-controller="tooltip">
  <img class="rounded-circle" alt="<%= user.titleize %>" src="<%= asset_pack_path "media/images/team/#{user}.jpg" %>" />
</a>
