<div class="col-12 col-xl-4 mb-4">
  <div class="card border-light shadow-sm">
    <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
      <div class="d-block">
        <div class="h6 fw-normal text-gray mb-2">Traffic Share</div>
        <h2 class="h4">Direct</h2>
        <div class="small mt-2">
          <span class="fas fa-angle-up text-success"></span>
          <span class="text-success fw-bold">51.5%</span>
        </div>
      </div>
      <div class="ms-auto">
        <div class="d-flex align-items-center mb-2">
          <span class="shape-xs rounded-circle bg-dark me-2"></span>
          <span class="fw-normal small me-3">Direct</span>
          <span class="small fw-bold text-dark ms-auto">51.50%</span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <span class="shape-xs rounded-circle bg-secondary me-2"></span>
          <span class="fw-normal small me-3">Referrals</span>
          <span class="small fw-bold text-dark ms-auto">29.40%</span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <span class="shape-xs rounded-circle bg-tertiary me-2"></span>
          <span class="fw-normal small me-3">Organic</span>
          <span class="small fw-bold text-dark ms-auto">9.10%</span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <span class="shape-xs rounded-circle bg-indigo me-2"></span>
          <span class="fw-normal small me-3">Social</span>
          <span class="small fw-bold text-dark ms-auto">6.50%</span>
        </div>
        <div class="d-flex align-items-center mb-2">
          <span class="shape-xs rounded-circle bg-pink me-2"></span>
          <span class="fw-normal small me-3">Mail</span>
          <span class="small fw-bold text-dark ms-auto">3.50%</span>
        </div>
      </div>
    </div>
    <div class="card-body p-2 py-5">
      <div class="ct-chart-traffic-share-2 ct-golden-section ct-series-a"
        data-controller="pie-chart" 
        data-pie-chart-data-value='{"series":[30,20,20,10,10]}' 
        data-pie-chart-donut-value="true" 
        data-pie-chart-donut-width-value="50" 
        data-pie-chart-donut-solid-value="true" 
        data-pie-chart-tooltip-value="true" 
        data-pie-chart-high-value="8"></div>
    </div>
  </div>
</div>