<div class="col-12 col-xl-8 mb-4">
  <div class="card border-light shadow-sm">
    <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
      <div class="w-100 d-flex justify-content-between align-items-start">
        <div>
          <div class="h6 fw-normal text-gray mb-2">Traffic Volumes by Source</div>
          <h2 class="h4">Direct</h2>
          <div class="small mt-2">
            <span class="fas fa-angle-up text-success"></span>
            <span class="text-success fw-bold">18 B</span>
            <span class="fw-bold ms-2"><span class="icon icon-small me-1"><span class="fas fa-globe-europe"></span></span>WorldWide</span>
          </div>
        </div>
        <div class="d-xl-flex flex-wrap justify-content-end">
          <div class="d-flex align-items-center mb-2 me-3 lh-130">
            <span class="shape-xs rounded-circle bg-warning me-2"></span>
            <span class="fw-normal small">Direct</span>
            <span class="small fw-bold text-dark ms-1">18M</span>
          </div>
          <div class="d-flex align-items-center mb-2 me-3 lh-130">
            <span class="shape-xs rounded-circle bg-info me-2"></span>
            <span class="fw-normal small">Refferals</span>
            <span class="small fw-bold text-dark ms-1">15M</span>
          </div>
          <div class="d-flex align-items-center mb-2 me-3 lh-130">
            <span class="shape-xs rounded-circle bg-tertiary me-2"></span>
            <span class="fw-normal small">Organic</span>
            <span class="small fw-bold text-dark ms-1">12M</span>
          </div>
          <div class="d-flex align-items-center mb-2 me-3 lh-130">
            <span class="shape-xs rounded-circle bg-indigo me-2"></span>
            <span class="fw-normal small">Social</span>
            <span class="small fw-bold text-dark ms-1">6M</span>
          </div>
          <div class="d-flex align-items-center mb-2 me-3 lh-130">
            <span class="shape-xs rounded-circle bg-pink me-2"></span>
            <span class="fw-normal small">Mail</span>
            <span class="small fw-bold text-dark ms-1">5M</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-2 pb-4">
      <div class="ct-chart-volumes ct-major-tenth ct-series-a"
        data-controller="line-chart" 
        data-line-chart-data-value='{"labels":["Mar 16","Apr 16","May 16","Jun 16","Jul 16","Aug 16","Sept 16"],"series":[[2,5,2,3,4,6,8],[5,6,5,8,12,32,28],[7,12,7,3,2,7,14],[10,15,13,17,14,18,20],[16,18,18,20,20,20,23]]}' 
        data-line-chart-full-width-value="true" 
        data-line-chart-tooltip-value="true"
        data-line-chart-show-grid-y-value="true"
        data-line-chart-show-label-y-value="true"
        data-line-chart-interpolation-value="M"></div>
    </div>
  </div>
</div>