<div class="col-12 col-sm-6 col-xl-12">
  <div class="card card-body shadow-sm mb-4">
    <h2 class="h5 mb-4">Select cover photo</h2>
    <div class="d-xl-flex align-items-center">
      <div class="user-avatar xl-avatar">
        <img
          class="rounded"
          src="https://source.unsplash.com/1200x800/?architecture"
          alt="change cover photo"
        />
      </div>
      <div class="file-field">
        <div class="d-flex justify-content-xl-center ms-xl-3">
          <div class="d-flex">
            <span class="icon icon-md"
              ><span class="fas fa-paperclip me-3"></span
            ></span>
            <input type="file" />
            <div class="d-md-block text-left">
              <div class="fw-normal text-dark mb-1">Choose Image</div>
              <div class="text-gray small">
                JPG, GIF or PNG. Max size of 800K
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
