<div class="col-12 col-sm-6 col-xl-12">
  <div class="card mb-5 mb-lg-0">
    <div class="card-header border-gray-300 py-5 px-0 px-xl-4">
      <div class="d-flex mb-3 text-primary">
        <span class="h5 mb-0">$</span>
        <span
          class="price display-2 text-primary mb-0"
          data-annual="199"
          data-monthly="99"
          >199</span
        >
        <span class="h6 fw-normal align-self-end">/month</span>
      </div>
      <h4 class="mb-3 text-black">Standard</h4>
      <p class="fw-normal mb-0">Full access to keyword research tools.</p>
    </div>
    <div class="card-body pt-5 px-0 px-xl-4">
      <div class="d-flex mb-1">
        <div class="icon-md icon-primary lh-180 me-3">
          <i class="fas fa-check"></i>
        </div>
        <p>Users<span class="fw-bolder"> 5+</span></p>
      </div>
      <div class="d-flex mb-1">
        <div class="icon-md icon-primary lh-180 me-3">
          <i class="fas fa-check"></i>
        </div>
        <p>All features on <span class="fw-bolder">FREE</span> plan</p>
      </div>
      <div class="d-flex mb-1">
        <div class="icon-md icon-primary lh-180 me-3">
          <i class="fas fa-check"></i>
        </div>
        <p>Hide <span class="fw-bolder">Progenitor</span> &reg; label</p>
      </div>
      <div class="d-flex mb-1">
        <div class="icon-md icon-primary lh-180 me-3">
          <i class="fas fa-check"></i>
        </div>
        <p>All apps</p>
      </div>
      <div class="d-flex mb-1">
        <div class="icon-md icon-primary lh-180 me-3">
          <i class="fas fa-check"></i>
        </div>
        <p>Connect to custom domain</p>
      </div>
      <div class="d-flex mb-1">
        <div class="icon-md icon-primary lh-180 me-3">
          <i class="fas fa-check"></i>
        </div>
        <p>3rd party service integrations</p>
      </div>
      <div class="d-flex mb-1">
        <div class="icon-md icon-primary lh-180 me-3">
          <i class="fas fa-check"></i>
        </div>
        <p>Unlimited editable exports</p>
      </div>
    </div>
    <div class="card-footer d-grid px-0 px-xl-4 pb-4">
      <a href="#" class="btn btn-dark">
        Go to Standard<span class="icon icon-xs ms-3"
          ><i class="fas fa-arrow-right"></i
        ></span>
      </a>
    </div>
  </div>
</div>
