<div class="col-12 col-lg-6">
  <div class="card  shadow-sm text-center py-4 mb-4 mb-lg-0">
    <div class="card-body">
      <h2 class="display-4 mb-3">Progenitor<span class="pro-badge subscription-badge bg-secondary fw-bolder">PRO</span></h2>
      <p>Switch your subscription to a different type, such as a monthly plan, annual plan, or student plan. And see a list of subscription plans that we offer.</p>
      <p class="text-dark my-4">Next payment of <span class="fw-bold">$36 (yearly)</span> occurs on August 13, 2020.</p>
      <a class="btn btn-sm btn-outline-dark me-2" href="#">Cancel subscription</a>
      <a class="btn btn-sm btn-secondary" href="/pages/pricing">Change plan</a>
    </div>
  </div>
</div>