<div class="table-settings mb-4">
  <div class="row justify-content-between align-items-center">
    <div class="col-9 col-lg-4 d-flex">
      <div class="input-group me-2 me-lg-3">
        <span class="input-group-text"
          ><span class="fas fa-search"></span
        ></span>
        <input type="text" class="form-control" placeholder="Search" />
      </div>
      <select class="form-select w-25" aria-label="Message select example 2">
        <option selected>All</option>
        <option value="1">Active</option>
        <option value="2">Inactive</option>
        <option value="3">Pending</option>
        <option value="3">Canceled</option>
      </select>
    </div>
    <div class="col-3 col-lg-8 text-right">
      <div class="btn-group me-1">
        <button
          class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="icon icon-sm icon-gray pt-1">
            <span class="fas fa-sliders-h"></span>
          </span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-end pb-0">
          <span class="small ps-3 fw-bold text-dark">Show</span>
          <a class="dropdown-item d-flex fw-bold" href="#"
            >10
            <span class="icon icon-small ms-auto"
              ><span class="fas fa-check"></span></span
          ></a>
          <a class="dropdown-item fw-bold" href="#">20</a>
          <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
        </div>
      </div>
      <div class="btn-group">
        <button
          class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="icon icon-sm icon-gray pt-1">
            <span class="fas fa-cog"></span>
          </span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
          <span class="small ps-3 fw-bold text-dark">Show</span>
          <a class="dropdown-item d-flex fw-bold" href="#"
            >10
            <span class="icon icon-small ms-auto"
              ><span class="fas fa-check"></span></span
          ></a>
          <a class="dropdown-item fw-bold" href="#">20</a>
          <a class="dropdown-item fw-bold rounded-bottom" href="#">30</a>
        </div>
      </div>
    </div>
  </div>
</div>
