<li class="nav-item <%= "active" if active %>">
  <a href="<%= node.url %>" class="nav-link">
    <span class="sidebar-icon"><span class="fas fa-fw fa-<%= node.icon %>"></span></span>
    <span class="sidebar-text"><%= node.label %></span>
  </a>
</li>
