      <li class="nav-item <%= "active" if node.active %>">
        <a href="<%= node.url %>" class="nav-link">
          <span class="sidebar-text-contracted"><%= node.letter || node.label[0] %></span>
          <span class="sidebar-text"><%= node.label %></span>
        </a>
      </li>
