<div class="py-4">
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a> <span class="chevron fas fa-chevron-right"></span></li>
      <li class="breadcrumb-item">Components <span class="chevron fas fa-chevron-right"></span></li>
      <li class="breadcrumb-item active" aria-current="page">Typography</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Typography</h1>
      <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p>
    </div>
    <div>
      <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/foundation/typography/" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Typography Docs</a>
    </div>
  </div>
</div>