@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap');
@import 'bootstrap/scss/_functions';
@import "variables";
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';
@import 'bootstrap/scss/_utilities';
@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";
@import "bootstrap/scss/_type";
@import "bootstrap/scss/_images";
@import "bootstrap/scss/_containers";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/_tables";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
@import "bootstrap/scss/_button-group";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_navbar";
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_accordion";
@import "bootstrap/scss/_breadcrumb";
@import "bootstrap/scss/_pagination";
@import "bootstrap/scss/_badge";
@import "bootstrap/scss/_alert";
@import "bootstrap/scss/_progress";
@import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_close";
@import "bootstrap/scss/_modal";
@import "bootstrap/scss/_tooltip";
@import "bootstrap/scss/_popover";
@import "bootstrap/scss/_carousel";
@import "bootstrap/scss/_spinners";
@import "bootstrap/scss/_helpers";
@import "bootstrap/scss/utilities/_api";
@import "flatpickr/dist/flatpickr.css";
@import "slim-select/dist/slimselect.min.css";
@import "chartist/dist/scss/chartist.scss";
@import "dragula/dist/dragula.css";
@import "mixins";
@import "functions";
@import "utilities";
@import "layout";
@import "components";
@import "notyf";
@import "optimism";

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.shift-left-when-hidden:not(.show) {
  right: 100% !important;
}

.mw-content {
  min-width: fit-content;
}

.kanban-list.dragging {
  border: 2px dotted $secondary;
}

.read-progress {
  color: #000000;
  height: 5px !important;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  div {
    height: 5px !important;
    background-color: $secondary;
    transition: width 50ms ease;
    width: 0%;
  }
}

.character-limit-container {
  height: 20px;
  width: 20px;
  .polite {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }
  .progressbar {
    transition-duration: 0.3s;
    transition-property: opacity;
    .svg-container {
      transition-duration: 0.15s;
      transform: rotate(-90deg);
      transition-property: height, width;
      svg {
        overflow: visible;
      }
    }
  }
  .number-container {
    .number {
      font-size: 13px;
      min-width: 40px;
    }
  }
}