<div class="col-12 col-sm-6 col-xl-4 mb-4">
  <div class="card border-light shadow-sm">
    <div class="card-body">
      <div class="row d-block d-xl-flex align-items-center">
        <div
          class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
        >
          <div
            class="icon icon-shape icon-md icon-shape-primary rounded me-4 me-sm-0"
          >
            <span class="fas fa-chart-line"></span>
          </div>
          <div class="d-sm-none">
            <h2 class="h5">Customers</h2>
            <h3 class="mb-1">345,678</h3>
          </div>
        </div>
        <div class="col-12 col-xl-7 px-xl-0">
          <div class="d-none d-sm-block">
            <h2 class="h5">Customers</h2>
            <h3 class="mb-1">345k</h3>
          </div>
          <small
            >Feb 1 - Apr 1,
            <span class="icon icon-small"
              ><span class="fas fa-globe-europe"></span
            ></span>
            WorldWide</small
          >
          <div class="small mt-2">
            <span class="fas fa-angle-up text-success"></span>
            <span class="text-success fw-bold">18.2%</span> Since last month
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
