<div class="col-12">
  <div class="card border-light shadow-sm">
    <div class="card-header border-bottom border-light">
      <h2 class="h5 mb-0">Events</h2>
    </div>
    <div class="card-body">
      <div
        class="row align-items-center d-block d-sm-flex border-bottom border-light pb-4 mb-4"
      >
        <div class="col-auto mb-3 mb-sm-0">
          <div class="calendar d-flex">
            <span class="calendar-month">Aug</span
            ><span class="calendar-day">10</span>
          </div>
        </div>
        <div class="col">
          <a href="/calendar">
            <h3 class="h5">Newmarket Nights</h3>
          </a>
          <span
            >Organized by
            <a href="#!" class="text-700">University of Oxford</a></span
          >
          <div class="small fw-bold mt-1">Time: 6:00AM</div>
          <span class="small fw-bold"
            >Place: Cambridge Boat Club, Cambridge</span
          >
        </div>
      </div>
      <div
        class="row align-items-center d-block d-sm-flex border-bottom border-light pb-4 mb-4"
      >
        <div class="col-auto mb-3 mb-sm-0">
          <div class="calendar d-flex">
            <span class="calendar-month">Sep</span
            ><span class="calendar-day">12</span>
          </div>
        </div>
        <div class="col">
          <a href="/calendar">
            <h3 class="h5 mb-0">Noco Hemp Expo</h3>
          </a>
          <span
            >Organized by
            <a href="#!" class="text-700">University of Oxford</a></span
          >
          <div class="small fw-bold mt-1">Thu, 12 Sep - Sat, 18 Sep 2020</div>
          <span class="small fw-bold">Place: Denver Expo Club, USA</span>
        </div>
      </div>
      <div class="row d-block d-sm-flex align-items-center">
        <div class="col-auto mb-3 mb-sm-0">
          <div class="calendar d-flex">
            <span class="calendar-month">Sep</span
            ><span class="calendar-day">20</span>
          </div>
        </div>
        <div class="col">
          <a href="/calendar">
            <h3 class="h5 mb-0">Canadian National Exhibition (CNE)</h3>
          </a>
          <span
            >Organized by
            <a href="#!" class="text-700">University of Oxford</a></span
          >
          <div class="small fw-bold mt-1">Fri, 20 Sep - Mon, 07 Oct 2020</div>
          <span class="small fw-bold">Place: Toronto , Canada</span>
        </div>
      </div>
    </div>
    <div class="card-footer border-top border-light text-center">
      <a class="fw-bold text-primary" href="/calendar">See all</a>
    </div>
  </div>
</div>
