<div class="col-12 col-lg-6 mb-4">
  <div class="card border-light shadow-sm">
    <div class="card-header border-bottom border-light">
      <h2 class="h5 mb-0">Hosting providers</h2>
    </div>
    <div class="card-body">
      <div class="row align-items-center mb-4">
        <div class="col-auto">
          <span class="icon icon-md text-purple"><span class="fab fa-digital-ocean"></span></span>
        </div>
        <div class="col">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="h6 mb-0">Digital Ocean</div>
              <div class="small fw-bold text-dark"><span>34 %</span></div>
            </div>
            <div class="progress mb-0">
              <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100" style="width: 34%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-4">
        <div class="col-auto">
          <span class="icon icon-md text-danger"><span class="fab fa-linode"></span></span>
        </div>
        <div class="col">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="h6 mb-0">Linode</div>
              <div class="small fw-bold text-dark"><span>60 %</span></div>
            </div>
            <div class="progress mb-0">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-4">
        <div class="col-auto">
          <span class="icon icon-md text-success"><span class="fab fa-google"></span></span>
        </div>
        <div class="col">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="h6 mb-0">Google</div>
              <div class="small fw-bold text-dark"><span>45 %</span></div>
            </div>
            <div class="progress mb-0">
              <div class="progress-bar bg-tertiary" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-4">
        <div class="col-auto">
          <span class="icon icon-md text-info"><span class="fab fa-microsoft"></span></span>
        </div>
        <div class="col">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="h6 mb-0">Microsoft Azure</div>
              <div class="small fw-bold text-dark"><span>35 %</span></div>
            </div>
            <div class="progress mb-0">
              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-auto">
          <span class="icon icon-md text-purple"><span class="fab fa-aws"></span></span>
        </div>
        <div class="col">
          <div class="progress-wrapper">
            <div class="progress-info">
              <div class="h6 mb-0">Amazon Web Services</div>
              <div class="small fw-bold text-dark"><span>34 %</span></div>
            </div>
            <div class="progress mb-0">
              <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100" style="width: 34%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
