<div class="col-12 col-sm-6 col-xl-4 mb-4">
  <div class="card border-light shadow-sm">
    <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
      <div class="d-block">
        <div class="h6 fw-normal text-gray mb-2">Total orders</div>
        <h2 class="h3">452</h2>
        <div class="small mt-2">
          <span class="fas fa-angle-up text-success"></span>
          <span class="text-success fw-bold">18.2%</span>
        </div>
      </div>
      <div class="d-block ms-auto">
        <div class="d-flex align-items-center text-right mb-2">
          <span class="shape-xs rounded-circle bg-dark me-2"></span>
          <span class="fw-normal small">July</span>
        </div>
        <div class="d-flex align-items-center text-right">
          <span class="shape-xs rounded-circle bg-secondary me-2"></span>
          <span class="fw-normal small">August</span>
        </div>
      </div>
    </div>
    <div class="card-body p-2">
      <div class="ct-chart-ranking ct-golden-section ct-series-a" data-controller="bar-chart" data-bar-chart-data-value='{"labels":["Mon","Tue","Wed","Thu","Fri","Sat"],"series":[[1,5,2,5,4,3],[2,3,4,8,1,2]]}' data-bar-chart-show-area-value="true" data-bar-chart-tooltip-value="true"></div>
    </div>
  </div>
</div>
