<div class="col-12 px-0 mb-4">
  <div class="card border-light shadow-sm">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between border-bottom border-light pb-3">
        <div>
          <h6 class="mb-0"><span class="icon icon-xs me-3"><span class="fas fa-globe-europe"></span></span>Global Rank</h6>
        </div>
        <div>
          <a href="#" class="text-primary fw-bold">#755<span class="fas fa-chart-line ms-2"></span></a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between border-bottom border-light py-3">
        <div>
          <h6 class="mb-0"><span class="icon icon-xs me-3"><span class="fas fa-flag-usa"></span></span>Country Rank</h6>
          <div class="small card-stats">United States<span class="icon icon-xs text-success ms-2"><span class="fas fa-angle-up"></span></span></div>
        </div>
        <div>
          <a href="#" class="text-primary fw-bold">#32<span class="fas fa-chart-line ms-2"></span></a>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between pt-3">
        <div>
          <h6 class="mb-0"><span class="icon icon-xs me-3"><span class="fas fa-folder-open"></span></span>Category Rank</h6>
          <a href="#" class="small card-stats">Travel > Accomodation</a>
        </div>
        <div>
          <a href="#" class="text-primary fw-bold">#16<span class="fas fa-chart-line ms-2"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>