<div class="col-12 col-lg-6 mb-4">
  <div class="card border-light shadow-sm">
    <div
      class="card-header border-bottom border-light d-flex justify-content-between"
    >
      <h2 class="h5 mb-0">Team members</h2>
      <a href="/users" class="btn btn-sm btn-secondary">See all</a>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush list my--3">
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="user-avatar">
                <img
                  class="rounded-circle"
                  alt="Image placeholder"
                  src="<%= asset_pack_path "media/images/team/anne.jpg" %>"
                />
              </a>
            </div>
            <div class="col-auto ms--2">
              <h4 class="h6 mb-0">
                <a href="#!">Anne</a>
              </h4>
              <span class="text-success">●</span>
              <small>Online</small>
            </div>
            <div class="col text-right">
              <a href="/calendar" class="btn btn-sm btn-tertiary"
                ><i class="fas fa-calendar-check me-1"></i> Invite</a
              >
            </div>
          </div>
        </li>
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="/users" class="user-avatar">
                <img
                  class="rounded-circle"
                  alt="Image placeholder"
                  src="<%= asset_pack_path "media/images/team/casey.jpg" %>"
                />
              </a>
            </div>
            <div class="col-auto ms--2">
              <h4 class="h6 mb-0">
                <a href="#!">Casey</a>
              </h4>
              <span class="text-warning">●</span>
              <small>In a meeting</small>
            </div>
            <div class="col text-right">
              <a href="/single-message" class="btn btn-sm btn-tertiary"
                ><i class="fas fa-comment me-1"></i> Message</a
              >
            </div>
          </div>
        </li>
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="user-avatar">
                <img
                  class="rounded-circle"
                  alt="Image placeholder"
                  src="<%= asset_pack_path "media/images/team/jill.jpg" %>"
                />
              </a>
            </div>
            <div class="col-auto ms--2">
              <h4 class="h6 mb-0">
                <a href="#!">Jill</a>
              </h4>
              <span class="text-danger">●</span>
              <small>Offline</small>
            </div>
            <div class="col text-right">
              <a href="/calendar" class="btn btn-sm btn-tertiary"
                ><i class="fas fa-calendar-check me-1"></i> Invite</a
              >
            </div>
          </div>
        </li>
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="user-avatar">
                <img
                  class="rounded-circle"
                  alt="Image placeholder"
                  src="<%= asset_pack_path "media/images/team/mike.jpg" %>"
                />
              </a>
            </div>
            <div class="col-auto ms--2">
              <h4 class="h6 mb-0">
                <a href="#">Mike</a>
              </h4>
              <span class="text-success">●</span>
              <small>Online</small>
            </div>
            <div class="col text-right">
              <a href="/single-message" class="btn btn-sm btn-tertiary"
                ><i class="fas fa-comment me-1"></i> Message</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
