<div class="col-12 col-sm-6 col-xl-4 mb-4">
  <div class="card border-light shadow-sm">
    <div class="card-body">
      <div class="row d-block d-xl-flex align-items-center">
        <div
          class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center"
        >
          <div
            class="ct-chart-traffic-share ct-golden-section ct-series-a"
            data-controller="pie-chart"
            data-pie-chart-data-value='{"series":[60,30,10]}'
            data-pie-chart-donut-value="true"
            data-pie-chart-donut-width-value="20"
            data-pie-chart-donut-solid-value="true"
            data-pie-chart-tooltip-value="true"
            data-pie-chart-high-value="8"
          ></div>
        </div>
        <div class="col-12 col-xl-7 px-xl-0">
          <h2 class="h5 mb-3">Traffic Share</h2>
          <h6 class="fw-normal text-gray">
            <span class="icon w-20 icon-xs text-secondary me-1"
              ><span class="fas fa-desktop"></span
            ></span>
            Desktop <a href="#" class="h6">60%</a>
          </h6>
          <h6 class="fw-normal text-gray">
            <span class="icon w-20 icon-xs text-primary me-1"
              ><span class="fas fa-mobile-alt"></span
            ></span>
            Mobile Web <a href="#" class="h6">30%</a>
          </h6>
          <h6 class="fw-normal text-gray">
            <span class="icon w-20 icon-xs text-tertiary me-1"
              ><span class="fas fa-tablet-alt"></span
            ></span>
            Tablet Web <a href="#" class="h6">10%</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
