<div class="card card-body shadow-sm bg-white border-gray-300 p-0 p-md-4 mt-4">
  <div class="card-header border-bottom p-3">
    <h3 class="h5">Order History</h3>
    <p class="mb-0">Manage billing information and view receipts</p>
  </div>
  <div class="card-body px-0 py-0">
    <ul class="list-group">
      <li class="list-group-item border-bottom">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="h6 mb-1">
              <a href="/pages/invoice">Invoice #120345</a>
            </h3>
            <small class="text-gray-700"> Billed August 21, 2019 </small>
          </div>
          <div class="col-auto">
            <button class="btn btn-sm btn-outline-dark">Pay now</button>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="h6 mb-1">
              <a href="/pages/invoice">Invoice #120344</a>
            </h3>
            <small class="text-gray-700"> Billed July 21, 2019 </small>
          </div>
          <div class="col-auto">
            <span class="badge badge-pill badge-success">
              <span class="text-uppercase fw-bold">Paid</span>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
