<div class="card shadow-sm mt-4">
  <div class="card-header d-flex align-items-center border-bottom border-gray-300">
    <h3 class="h5 mb-0">Notification Timeline</h3>
    <div class="ms-auto">
      <a class="text-primary fw-bold" href="#">View all</a>
    </div>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush list-group-timeline">
      <div class="list-group-item">
        <div class="row">
          <div class="col-auto">
            <div class="icon icon-shape icon-sm bg-tertiary text-white rounded-circle">
              <span class="fas fa-envelope-open-text"></span>
            </div>
          </div>
          <div class="col ms-n2">
            <span class="badge bg-success py-1 mb-2">New message</span>
            <p class="text-dark fw-bold mb-1">
              Let's meet at Starbucks at 11:30.
            </p>
            <small class="text-gray"> <span class="fas fa-clock me-2"></span>2m ago </small>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-auto">
            <div class="icon icon-shape icon-sm bg-danger text-white rounded-circle">
              <span class="fas fa-exclamation"></span>
            </div>
          </div>
          <div class="col ms-n2">
            <span class="badge bg-danger py-1 mb-2">Issue</span>
            <p class="text-dark fw-bold mb-1">A new issue has been reported.</p>
            <small class="text-gray"> <span class="fas fa-clock me-2 text-gray"></span>3 hrs ago </small>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-auto">
            <div class="icon icon-shape icon-sm bg-info text-white rounded-circle">
              <span class="fas fa-history"></span>
            </div>
          </div>
          <div class="col ms-n2">
            <span class="badge bg-info py-1 mb-2">Update</span>
            <p class="text-dark fw-bold mb-1">Template has been updated</p>
            <small class="text-gray"> <span class="fas fa-clock me-2"></span>3 hrs ago </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
