<div class="col-12 col-sm-6 mb-4 mb-md-0">
  <div class="card border-light shadow-sm">
    <div class="card-body">
      <h2 class="h5">Total Installs</h2>
      <h3 class="h2 mb-1">367,567</h3>
      <div class="small mb-3">
        Feb 1 - Apr 1,
        <span class="icon icon-small"
          ><span class="fas fa-globe-europe"></span
        ></span>
        WorldWide
      </div>
    </div>
  </div>
</div>
