<div class="col-12 col-sm-6">
  <div class="card border-light shadow-sm">
    <div class="card-body">
      <h2 class="h5">Related Sites</h2>
      <ul class="list-unstyled mb-0">
        <li class="mb-1"><span class="icon icon-small text-google w-20 me-1"><span class="fab fa-google"></span></span><a href="#">google.com</a></li>
        <li class="mb-1"><span class="icon icon-small text-facebook w-20 me-1"><span class="fab fa-facebook-f"></span></span><a href="#">facebook.com</a></li>
        <li class="mb-1"><span class="icon icon-small text-twitter w-20 me-1"><span class="fab fa-twitter"></span></span><a href="#">twitter.com</a></li>
      </ul>
    </div>
  </div>
</div>