<div class="row">
  <div class="col-12 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
              <tr>
                <th class="border-0">Country</th>
                <th class="border-0">All</th>
                <th class="border-0">All Change</th>
                <th class="border-0">Travel & Local</th>
                <th class="border-0">Travel & Local Change</th>
                <th class="border-0">Widgets</th>
                <th class="border-0">Widgets Change</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-0">
                  <a href="#" class="d-flex align-items-center">
                    <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="//d1a9hrnhg5c8hq.cloudfront.net/united-states-of-america.svg">
                    <div><span class="h6">United States</span></div>
                  </a>
                </td>
                <td class="border-0 fw-bold">106</td>
                <td class="border-0 text-danger">
                  <span class="fas fa-angle-down"></span>
                  <span class="fw-bold">5</span>
                </td>
                <td class="border-0 fw-bold">
                  3 
                </td>
                <td class="border-0">
                  =
                </td>
                <td class="border-0 fw-bold">
                  32  
                </td>
                <td class="border-0 text-success">
                  <span class="fas fa-angle-up"></span>
                  <span class="fw-bold">3</span>
                </td>
              </tr>
              <tr>
                <td class="border-0">
                  <a href="#" class="d-flex align-items-center">
                    <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="//d1a9hrnhg5c8hq.cloudfront.net/canada.svg">
                    <div><span class="h6">Canada</span></div>
                  </a>
                </td>
                <td class="border-0 fw-bold">76</td>
                <td class="border-0 text-success">
                  <span class="fas fa-angle-up"></span>
                  <span class="fw-bold">17</span>
                </td>
                <td class="border-0 fw-bold">
                  4 
                </td>
                <td class="border-0">
                  =
                </td>
                <td class="border-0 fw-bold">
                  30  
                </td>
                <td class="border-0 text-success">
                  <span class="fas fa-angle-up"></span>
                  <span class="fw-bold">3</span>
                </td>
              </tr>
              <tr>
                <td class="border-0">
                  <a href="#" class="d-flex align-items-center">
                    <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="//d1a9hrnhg5c8hq.cloudfront.net/united-kingdom.svg">
                    <div><span class="h6">United Kingdom</span></div>
                  </a>
                </td>
                <td class="border-0 fw-bold">147</td>
                <td class="border-0 text-success">
                  <span class="fas fa-angle-up"></span>
                  <span class="fw-bold">10</span>
                </td>
                <td class="border-0 fw-bold">
                  5 
                </td>
                <td class="border-0">
                  =
                </td>
                <td class="border-0 fw-bold">
                  34  
                </td>
                <td class="border-0 text-success">
                  <span class="fas fa-angle-up"></span>
                  <span class="fw-bold">7</span>
                </td>
              </tr>
              <tr>
                <td class="border-0">
                  <a href="#" class="d-flex align-items-center">
                    <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="//d1a9hrnhg5c8hq.cloudfront.net/france.svg">
                    <div><span class="h6">France</span></div>
                  </a>
                </td>
                <td class="border-0 fw-bold">112</td>
                <td class="border-0 text-success">
                  <span class="fas fa-angle-up"></span>
                  <span class="fw-bold">3</span>
                </td>
                <td class="border-0 fw-bold">
                  5 
                </td>
                <td class="border-0 text-success">
                  <span class="fas fa-angle-up"></span>
                  <span class="fw-bold">1</span>
                </td>
                <td class="border-0 fw-bold">
                  34  
                </td>
                <td class="border-0 text-danger">
                  <span class="fas fa-angle-down"></span>
                  <span class="fw-bold">2</span>
                </td>
              </tr>
              <tr>
                <td class="border-0">
                  <a href="#" class="d-flex align-items-center">
                    <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="//d1a9hrnhg5c8hq.cloudfront.net/japan.svg">
                    <div><span class="h6">Japan</span></div>
                  </a>
                </td>
                <td class="border-0 fw-bold">115</td>
                <td class="border-0 text-danger">
                  <span class="fas fa-angle-down"></span>
                  <span class="fw-bold">12</span>
                </td>
                <td class="border-0 fw-bold">
                  6 
                </td>
                <td class="border-0 text-danger">
                  <span class="fas fa-angle-down"></span>
                  <span class="fw-bold">1</span>
                </td>
                <td class="border-0 fw-bold">
                  37  
                </td>
                <td class="border-0 text-danger">
                  <span class="fas fa-angle-down"></span>
                  <span class="fw-bold">5</span>
                </td>
              </tr>
              <tr>
                <td class="border-0">
                  <a href="#" class="d-flex align-items-center">
                    <img class="me-2 image image-small rounded-circle" alt="Image placeholder" src="//d1a9hrnhg5c8hq.cloudfront.net/germany.svg">
                    <div><span class="h6">Germany</span></div>
                  </a>
                </td>
                <td class="border-0 fw-bold">220</td>
                <td class="border-0 text-danger">
                  <span class="fas fa-angle-down"></span>
                  <span class="fw-bold">56</span>
                </td>
                <td class="border-0 fw-bold">
                  7 
                </td>
                <td class="border-0 text-danger">
                  <span class="fas fa-angle-down"></span>
                  <span class="fw-bold">3</span>
                </td>
                <td class="border-0 fw-bold">
                  30  
                </td>
                <td class="border-0 text-success">
                  <span class="fas fa-angle-up"></span>
                  <span class="fw-bold">2</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
