<div class="table-settings mb-4">
  <div class="row align-items-center justify-content-between">
    <div class="col col-md-6 col-lg-3 col-xl-4">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon2"
          ><span class="fas fa-search"></span
        ></span>
        <input
          type="text"
          class="form-control"
          id="exampleInputIconLeft"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="basic-addon2"
        />
      </div>
    </div>
    <div class="col-4 col-md-2 col-xl-1 ps-md-0 text-right">
      <div class="btn-group">
        <button
          class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-1"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span class="icon icon-sm icon-gray pt-1">
            <span class="fas fa-cog"></span>
          </span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end pb-0">
          <span class="small ps-3 fw-bold text-dark">Show</span>
          <a class="dropdown-item d-flex fw-bold" href="#"
            >10
            <span class="icon icon-small ms-auto"
              ><span class="fas fa-check"></span></span
          ></a>
          <a class="dropdown-item fw-bold" href="#">20</a>
          <a class="dropdown-item fw-bold" href="#">30</a>
        </div>
      </div>
    </div>
  </div>
</div>
