<div class="py-4">
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item">
        <a href="/"><span class="fas fa-home"></span></a>
        <span class="chevron fas fa-chevron-right"></span>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Map</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Map</h1>
      <p class="mb-0">Maps are good.</p>
    </div>
    <div>
      <a
        href="https://www.youtube.com/watch?v=7whUeXYWZ7k"
        class="btn btn-outline-gray"
        ><i class="far fa-question-circle me-1"></i> Maps</a
      >
    </div>
  </div>
</div>
