<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-md-none">
  <a class="navbar-brand me-lg-5" href="/">
    <img class="navbar-brand-dark rounded-circle" src="<%= asset_pack_path "media/images/progenitor.png" %>" alt="Progenitor" /> <img class="navbar-brand-light rounded-circle" src="<%= asset_pack_path "media/images/progenitor.png" %>" alt="Progenitor" />
  </a>
  <div class="d-flex align-items-center">
    <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>