<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body>
    <main>
      <%= yield %>
      <footer class="section pt-5 pb-3">
        <p class="mb-0 text-center">Copyright © <%= Time.now.year %> <a class="text-primary fw-normal" href="https://leastbad.com" target="_blank">leastbad</a>&nbsp;&nbsp;</p>
      </footer>
    </main>
  </body>
</html>
